[user]
	name = David Strickland
	email = "dstrick2989@gmail.com"

[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[core]
    editor = vim
    autocrlf = false
    safecrlf = true
    pager = less -FX
	excludesfile = ~/.gitignore

[merge]
    tool = vimdiff

[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[difftool]
    tool = vimdiff
	prompt = false

[push]
	default = simple
