[user]
	name = David Strickland
	email = david.robert.strickland@gmail.com

[core]
	editor = vim
	autocrlf = input
	pager = less -rFX
	excludesFile = ~/.gitignore
	trustctime = false
	filemode = false

[pager]
	branch = true

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[difftool "vimdiff"]
	cmd = vim -vf -d \"$LOCAL\" \"$REMOTE\"

[push]
	default = simple

[credential]
	helper = cache --timeout 1

[color]
	ui = true
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[rerere]
	enabled = 1
