[user]
	name = David Strickland
	email = "dstrickland@austin.utexas.edu"
	signingkey = BCB88567

[core]
    editor = vim
    autocrlf = input
    pager = less -rFX
	excludesfile = ~/.gitignore

[pager]
    branch = true

[merge]
    tool = vimdiff

[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    st = status

[difftool]
    tool = vimdiff
	prompt = false

[push]
	default = matching

[credential]
    helper = cache --timeout 30000

[color]
	ui = true
